<article class="product-item">
  <img src="<%= product.imageUrl %>" alt="<%= product.title %>" />
  <div class="product-item-content">
    <h2><%= product.title %></h2>
    <div class="product-item-actions" data-productId="<%= product.id %>" data-csrf="<%= locals.csrfToken %>">

      <% if (locals.isAdmin) { %>
        <% if (!editMode) { %>
          <a class="btn btn-alt" href="/admin/products/<%= product.id %>"
            >View & Edit</a>
          <button class="btn btn-alt delete-btn">
            Delete
          </button>
          <a href="/admin/products/<%= product.id %>/complementary" class="btn btn-alt edit-complementary-btn">
            Complementary Products
          </a>
        <% } else if (editMode && !product.status) { %>
          <button
          class="btn btn-alt">
          Add
        </button>
        <% } else if (editMode && product.status) { %>
          <button
          class="btn btn-alt">
          Remove
        </button>
        <% } %>
      <% } %>
    </div>
    <h3><%= locals.isAdmin ? '' : '$' + product.price %></h3>
  </div>
</article>
