<%- include('../../shared/includes/head', {pageTitle: 'Drone Race Products'}) %>
<link rel="stylesheet" href="/styles/products.css">
<link rel="stylesheet" href="/styles/image-slides.css">
<script src="/scripts/image-slides.js" defer></script>
<meta name="description" content="Drone Race Shop">
</head>
<body>
<%- include('../../shared/includes/header') %>
<main>
<%- include('./slide-show') %>
		<section>
			<h1>All Products</h1>
			<ul id="products-grid">
			<% for (const product of products) { %>
				<li>
					<a href="/products/<%= product.id %>" >
						<%- include('../../shared/includes/product-item', { product: product, sliderView: false }) %>
					</a>
				</li>
			<% } %>
		</ul>
	</section>
</main>
<%- include('../../shared/includes/footer') %>