<%- include('../../shared/includes/head', {pageTitle: 'Searched Products'}) %>
<link rel="stylesheet" href="/styles/products.css">
<meta name="description" content="FlyFpv Searched Products">
</head>
<body>
<%- include('../../shared/includes/header') %>
<main>
		<section>
			<h1><%= category %> Products</h1>
			<ul id="products-grid">
			<% for (const product of products) { %>
				<li>
					<a href="/product-details/<%= product.id %>" >
						<%- include('../../shared/includes/product-item', { product: product, edit: { mode: false } }) %>
					</a>
				</li>
			<% } %>
		</ul>
	</section>
</main>
<%- include('../../shared/includes/footer') %>